# Use the gitignore as an allow list
*
!*/

# Source files
!bin/**/*.dart
!lib/**/*.dart

# Dart project files
!/pubspec.yaml
!/analysis_options.yaml

# Docker
!/Dockerfile

# Repository files
!/README.md
!/LICENSE
!/.gitignore
